/* CSS for Desktop */
.page {
    display: none;
}

.page.active {
    display: block;
}

body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page {
    border-radius: 15px;
    background-color: rgb(183, 255, 251);
    padding: 15px;
    margin: 20px auto; /* Center the pages horizontally */
    max-width: 600px; /* Limit width for better readability */
}

input, button {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

button {
    background: #5fc2ff;
    border: 1px solid #9de5ff;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

/* Responsive Media Query for Phones */
@media only screen and (max-width: 600px) {
    body{
        background-image: url('background2.gif');
        background-size: cover;
        background-position: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    .page {
       width: 80%;
       height: 45%;
       border-top: 2px solid #FFFFFF75;
       border-left: 2px solid #FFFFFF75;
       box-shadow: 5px 5px 12px #00000035;
       background: #FFFFFF25;
       border-radius: 15px;
       overflow: hidden;
       backdrop-filter: blur(4px);
       margin-bottom: 220px;
    }
    input, button {
        padding: 8px;
        font-size: 15px;
        height: 40px;
        margin-bottom: 30px;
    }

    #page1, #page2{
        color: #27476c;
        font-size: 15px;
        text-align: center;
    }
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
}




